<main class="favorit-coct__main container">
    <h1 class="favorit-coct__title">Favorite cocktails</h1>
    <div class="favorit-coct__wrapper"></div>
    <!-- <ul class="favorit-coct-gallery">
            <li class="gallery-card">
                <img class="gallery-image" src="./img/gallery-1.jpg" alt=img loading="lazy" />
                <div class="gallery-info">
                    <h2 class="gallery-title">Negroni</h2>
                    <div class="gallery-btn">
                        <button class="btn-lern" type="button">Learn more</button>
                        <button class="btn-remove" type="button">
                            <div class="test">Remove<span><img class="btn-img" src="./img/Heart.svg" alt=""></span>
                            </div>
                        </button>
                    </div>
                </div>
                </div>
            </li>
        </ul> -->
    <ul class="favorit-coct__list">
        <!-- <li class='cocktail__item'>
            <div class='cocktail__card' data-id="1">
                <img class='cocktail__image'
                    src="https://upload.wikimedia.org/wikipedia/commons/1/16/Siamese_cat_Vaillante.JPG"
                    alt='cocktail' />
                <div class='cocktail__thumb'>
                    <h3 class='cocktail__title'>ALcohol</h3>
                    <div class='cocktail__btn--box'>
                        <button class='learnmore__btn' type='button'>Learn More</button>
                        <button class='add__btn' type='button'>Add to</button>
                    </div>
                </div>
            </div>
        </li> -->
    </ul>
    <div class='cocktail__card' data-id="2">
        <img class='cocktail__image' src="https://upload.wikimedia.org/wikipedia/commons/1/16/Siamese_cat_Vaillante.JPG"
            alt='cocktail' width="50" height="60" />
        <div class='cocktail__thumb'>
            <h3 class='cocktail__title'>ALcohol</h3>
            <div class='cocktail__btn--box'>
                <button class='learnmore__btn' type='button'>Learn More</button>
                <button class='add__btn' type='button' data-add>Add to</button>
            </div>
            <div class='cocktail__card' data-id="1">
                <img class='cocktail__image'
                    src="https://upload.wikimedia.org/wikipedia/commons/1/16/Siamese_cat_Vaillante.JPG" alt='cocktail'
                    width="50" height="60" />
                <div class='cocktail__thumb'>
                    <h3 class='cocktail__title'>ALcohol</h3>
                    <div class='cocktail__btn--box'>
                        <button class='learnmore__btn' type='button'>Learn More</button>
                        <button class='add__btn' type='button' data-add>Add to favorite</button>
                    </div>

</main>