<div class="container">
  <div class="cocktail__section">
    <h2 class="gallery__title">Cocktails</h2>
    <ul class="cocktail__list"></ul>
    <div class="paginator">
      <button class="backward" type="button">
        <svg class="arrow__back" width="8" height="13">
          <use href="../src/images/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <ul class="pagination__list"></ul>
      <button class="forward" type="button">
        <svg class="arrow__fore" width="8" height="13">
          <use
            href="../src/images/symbol-defs.svg#icon-arrow-right-black"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</div>
