<section class="header" id="header">
  <div class="header-wrap">
    <img class="logo" src="/src/images/Logo-COCKTAILS.png" alt="coctail logo" />

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="/src/index.html">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">Favorite</a>
          <ul class="header-dropdown">
            <li class="header-dropdown-item">
              <a
                class="header-dropdown-link"
                href="/src/favorite-cocktails.html"
                >Favorite cocktails</a
              >
            </li>
            <li class="header-dropdown-item">
              <a
                class="header-dropdown-link"
                href="/src/favorite-ingridients.html"
                >Favorite ingredients</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header-search">
      <span class="header-search-icon">
        <input class="header-search-input" type="submit" placeholder="Search"
      /></span>
    </div>

    <div class="theme-switch-wrapper">
      <span class="switch-light">Light</span>
      <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="slider round"></div>
      </label>
      <span class="switch-dark">Dark</span>
    </div>
  </div>
</section>
