<section class="header" id="header">
    <img class="logo" src="/src/images/Logo-COCKTAILS.png" alt="coctail logo"></section>
    <div class="header-wrap">
    <nav class="header-nav">
        <a class="nav-link" href="/src/index.html">Home</a>
        <button class="dropdown-btn">Favorite
            <i clas="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a class="nav-link" href="/src/favorite-cocktails.html">Favorite cocktails</a>
            <a class="nav-link" href="/src/favorite-ingridients.html">Favorite ingredients</a>
        </div>
 </nav>
 <span class="header-search-icon"><input class="header-search" placeholder="Search"></span>
 <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label></div>
</section>
