.header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // @media screen and(max-width: 480px) {
  //   height: 65px;
  // }
}

.header-wrap {
  display: flex;
  align-items: center;
}
.logo {
  width: 156px;
  height: 43px;
  margin-right: 43px;
}

.header-nav {
  @include font(400, 18px, 1.33, 0.02em);
  color: var(--black-color);
}

.nav-link {
  margin-right: 60px;
  // height: 24px;
  // width: 55px;
}

.header-search {
  // margin-left: 250px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  // margin-right: 20px;
  margin-right: 172px;
  width: 248px;
  box-sizing: border-box;
  // background-color: var(--white-color);
  // color: var(--black-color);
}

.header-search-input {
  border: none;
  outline: none;
  border-radius: 0 4px 4px 0;
  background-color: var(--white-color);
  color: var(--black-color);
  box-sizing: border-box;
  width: 208px;
  &::placeholder {
    opacity: 0.4;
  }
}

.header-search button {
  background-color: var(--white-color);
  border: none;
  border-radius: 4px 0 0 4px;
  border-right: 8px;
  border-right: 1px solid var(--accent-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-search-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  border-radius: 4px;
}

.header-nav-list {
  display: flex;
  gap: 60px;
  margin-right: 250px;
}

.header-nav-item {
  display: block;
  float: left;
  position: relative;
  padding: 19px 0 0 0;
  transition-duration: 0.5s;
}

.header-nav-link {
  color: var(--black-color);
}
.header-nav-link:hover {
  color: var(--accent-color);
}
.header-nav-item:hover {
  cursor: pointer;
}

.header-dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  display: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.header-dropdown-item {
  width: 211px;
  padding: 12px;
}

.header-dropdown-link {
  color: var(--black-color);
}

.header-dropdown-link:hover,
.header-dropdown-link:hover {
  color: var(--white-color);
}

.header-dropdown-item:hover,
.header-dropdown-item:focus {
  background-color: var(--accent-color);
  // color: var(--white-color);
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

/* The switch - the box around the slider */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.theme-switch input {
  display: none;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--accent-color);
  background-color: var(--white-color);

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;

  // background-color: var(--accent-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  border: 1px solid var(--black-color);
  background-color: var(--accent-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  background-color: #fff;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  color: var(--accent-color);

  // background-color: var(--white-color);
}

.slider.round:before {
  border-radius: 50%;
  background-color: var(--accent-color);

  height: 16px;
  width: 16px;
}

.switch-light {
  @include font(400, 18px, 1.33, 0.02em);
  color: var(--accent-color);
  width: 43px;
}
.switch-dark {
  @include font(400, 18px, 1.33, 0.02em);
  color: var(--gray-color);
  width: 43px;
}

.btn-menu-m {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .logo {
    width: 123.35px;
    height: 34px;
  }
  .header-wrap {
    width: 290px;
    justify-content: space-between;
  }

  .header-nav {
    display: none;
  }
  .theme-switch-wrapper {
    display: none;
  }
  .header-search {
    display: none;
  }
  .btn-menu-m {
    display: block;
  }
}
@media screen and (min-width: 480px) {
  .header-wrap {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .header-wrap {
    width: 738px;
  }
  .logo {
    margin-right: 190px;
    width: 153px;
    height: 43px;
  }
  .header-search {
    display: block;
    width: 288px;
    margin-right: 40px;
  }
  .header-search-input {
    width: 249px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
  .header-wrap {
    width: 1170px;
  }
  .header-nav {
    display: block;
  }
  .logo {
    margin-right: 43px;
  }
  .theme-switch-wrapper {
    display: flex;
  }
  .header-search {
    display: block;
  }
  .btn-menu-m {
    display: none;
  }
}
