.title-favor-ing {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;

    margin-top: 70px;
    margin-bottom: 60px;
}

.text-favor-ing {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 72px;
    text-align: center;
    color: #202025;

    margin-bottom: 451px;
}

